<div class="row">
<div class="col-xs-12">
<h1>LoudCloud</h1>
<p>We have <%= @songs.count %> Songs!</p>
<!--<p><%= link_to 'New Song', new_item_type_item_path(@item_type) %></p> -->
</div>
</div>
<div>
<hr />
<!-- <%= render 'layouts/item' %>  -->
</div> 